<%= render @room %>

<% if @room.sessions.empty? %>
  <h1>N찾o existem ainda sess천es cadastradas</h1>
<% else %>
  <% @room.sessions.each do |session| %>
    <dl>
      <dt>Sess찾o: </dt>
      <dd><%= session.hour %></dd>
      <dt>Filme: </dt>
      <dd><%= session.movie.title %></dd>
    <dl>
  <% end %>
<% end %>


<%= link_to 'Cadastrar Sess찾o', new_room_session_path room.id %>